
/ReplaceSpecialCharactersLibrary/_ReSharper.ReplaceSpecialCharactersLibrary
/ReplaceSpecialCharactersLibrary/TestResults
/ReplaceSpecialCharactersLibrary/ReplaceSpecialCharactersLibraryFullNET/bin/Debug
/ReplaceSpecialCharactersLibrary/ReplaceSpecialCharactersLibraryFullNET/bin/Release
/ReplaceSpecialCharactersLibrary/ReplaceSpecialCharactersLibrary.Tests/bin/Release
/ReplaceSpecialCharactersLibrary/ReplaceSpecialCharactersLibrary.Tests/bin/Debug