
/ReplaceSpecialCharactersLibrary/_ReSharper.ReplaceSpecialCharactersLibrary
/ReplaceSpecialCharactersLibrary/TestResults
/ReplaceSpecialCharactersLibrary/ReplaceSpecialCharactersLibraryFullNET/bin/Debug